@page
@model Tellma.Identity.Areas.Identity.Pages.Account.ResetPasswordModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L
@{
    ViewData["Title"] = L["ResetPassword"].Value;
}

<h1 class="tl-title">@L["ResetPassword"]</h1>

@if (!Model.IsValid)
{
    <p class="tl-error">@L["InvitationInvalid"]</p>
}
else
{
    <form method="post">
        <input type="hidden" name="Code" value="@Model.Code" />
        <div class="tl-field">
            <label class="tl-label" for="password">@L["Password"]</label>
            <input class="tl-input" id="password" name="Password" type="password" autocomplete="new-password" required minlength="12" />
        </div>
        <button class="tl-button tl-button-primary" type="submit">@L["ResetPassword"]</button>
    </form>
    <div asp-validation-summary="All" class="tl-error"></div>
}
